# .editorconfig for auth_api project
root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true

# C# conventions
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_prefer_const = true:suggestion
csharp_style_expression_bodied_methods = when_possible:suggestion
csharp_style_expression_bodied_constructors = when_possible:suggestion
csharp_style_expression_bodied_properties = when_possible:suggestion
csharp_style_expression_bodied_accessors = when_possible:suggestion
csharp_prefer_simple_using_statement = true:suggestion
